<div class="card mb-3">
    <div class="card-header">
        Learner History
        <app-view-learner-history></app-view-learner-history>
    </div>
    <div class="card-body">
        <canvas
            baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
        >
        </canvas>
    </div>
</div>
