<app-page-header [heading]="'Learner Details'" [icon]="'fa-bar-chart-o'"></app-page-header>
<div class="row">
    <div class=" col-md-12 form-group">
        <label>Select Year</label>
        <select class="form-control" (change)="onChange($event.target.value)">
            <option> Select...</option>
            <option>Year 1</option>
            <option>Year 2</option>
            <option>Year 3</option>
            <option>Year 4</option>
            <option>Year 5</option>
            <option>Year 6</option>
            <option>Year 7</option>
            <option>Year 8</option>
            <option>Year 9</option>
        </select>
    </div>
</div>
<hr />
<div class="row">
    <!-- <div class="col-md-6"><app-slider [subjects]="subjects" (isDisplay)="enabledDisabledControl($event)"> </app-slider></div> -->
    <div class="col-md-6"><app-slider [yearId]="yearId" (isDisplay)="enabledDisabledControl($event)"> </app-slider></div>
    <div class="col-md-6"><app-recommendation-subject></app-recommendation-subject></div>
</div>
<div class="row">
    <div class="col-md-6">
        <app-learner-history></app-learner-history>
    </div>
    <div class="col-md-6" *ngIf="display">
        <app-recommendation-subject-future></app-recommendation-subject-future>
    </div>
</div>
